html {
  height: 100%;
  width: 100%;
}
h1 {
  display: block;
  text-align: center;
  color: #00ff11;
}
body {
  background-color: black;
}
em {
  color: white;
}
img {
  width: 255px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}