html {
  height: 100%;
  width: 100%;
}
h1 {
  display: block;
  text-align: #00ff11;
}
body {
  background: linear-gradient(black,grey);
}
em {
  color: white;
}
#ok {
  width: 255px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: solid 10px black;
}
img {
  width: 255px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}





